/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, aside, canvas, details, embed, 
figure, figcaption, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Arial", "Helvetica", sans-serif;
	vertical-align: left;
	kerning: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 2em;
	background-image: url('https://i.imgur.com/o7xz7wd.jpg');
	background-size: cover;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 { 
	font-size: 24px; 
	}
	
h2 { 
	font-size: 20px; 
	}
	
h1,h2 { 
	margin: 15px;
    	font-family: 'Oswald', sans-serif;
	color: #49332D;
	text-align: center;
}
	
p { 
	padding: 5px; 
}

nav {
	padding-top: 2%;
}

header { 
    	margin: 2% 13% 10px;
}

.flex-container1 {
	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-around;
    	margin: 5% 0 3% 0;
    	font-family: 'Oswald', sans-serif;
    	font-size: 1.6em;
}

.flex-item0 img {
	width: 100%;
    	height: auto;
	box-sizing: border-box;
}

.flex-container2 {
	display: flex;
  	flex-flow: nowrap;
  	justify-content: space-around;
    	margin: 5% 0 3% 0;
    	font-family: 'Oswald', sans-serif;
    	font-size: 1.6em;
}

.flex-item1, .flex-item2, .flex-item3, .flex-item4 {
	width: 100%;
    	height: auto;
    	padding-top: 2%;
	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
}

.flex-container3 {
	display: flex;
  	flex-flow: nowrap;
  	justify-content: space-around;
	font-family: "Arial", "Helvetica", sans-serif;
    	font-size: 1.6em;
    	width: 100%;
}

.flex-item5, .flex-item6, .flex-item7 {
	width: 100%;
    	height: auto;
	font-family: "Arial", "Helvetica", sans-serif;
	box-sizing: border-box;
	padding-top: 2%;
    	font-size: 100%;


}

aside, footer { 
   	padding: 15px 1em;
   	margin: 0 10% 10px;
   	background-color: #ffffff;
   	font-family: "Arial", "Helvetica", sans-serif;
   	border-radius: 10px;
   	text-align: center;

}

article {
	font-size: 80%; 
	padding: 10px 3px 8px 2%;
   	margin: 5% 10% 10px;
  	background-color: #fff;
   	font-family: "Arial", "Helvetica", sans-serif;
   	border-radius: 10px;
	opacity: 0.95;
	filter: alpha(opacity=95); /* For IE8 and earlier */
}

a {
	text-decoration: none;
    	font-family: 'Oswald', sans-serif;

}

a:link {
   	color: #8dd017;
}

a:visited {
   	color: #49332D;
}

a:hover {
   	color: #A5D85D;
}

a:active {
   	color: #69B202;
} 
	
@media(max-width: 1000px)  {
	.flex-container1, .flex-container2, .flex-container3 {
		flex-flow: row wrap;
	}
	
.flex-item0 img {
        clear: both;
    }
    
.flex-item1, .flex-item2, .flex-item3, .flex-item4 {
    	width: 100%;
    }
    
a:link {
   	color: #8dd017;
}

a:visited {
   	color: #49332D;
}

a:hover {
   	color: #A5D85D;
}

a:active {
   	color: #69B202;
} 
    .flex-item1, .flex-item2, .flex-item3, .flex-item4 {
    	font-family: 'Oswald', sans-serif;
    	width: 100%;
    }
    
    .flex-item5, .flex-item6, .flex-item7 {
  	flex-flow: row wrap;
  	font-size: 70%;
  	line-height: 120%;
}

  	article {
  	line-height: 120%;
  	font-size: 90%;
  	font-family: "Arial", "Helvetica", sans-serif;
}	

	h1 {
	line-height: 120%;
}

